//
// Pagination
// Styles for the Pagination component.
//

.root :global {
  display: flex;
  justify-content: space-between;
  width: 100%;

  a {
    text-decoration: none;
  }

  .pagination-prev,
  .pagination-next {
    display: flex;
    flex-direction: column;
  }

  .pagination-next .pagination-lead {
    justify-content: flex-end;
  }

  .pagination-lead {
    display: inline-flex;
    align-items: center;

    gap: 4px;
  }

  .pagination-description {
    font-size: 1rem;
    font-weight: 500;
  }
}
