//
// Pagination
// Styles for the Pagination component.
//

// Base styles
.root :global {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 4rem;

  a {
    text-decoration: none;
  }

  .pagination-prev,
  .pagination-next {
    display: inline-flex;
    flex-direction: column;
  }

  .pagination-next {
    .pagination-lead,
    .pagination-description {
      justify-content: flex-end;
    }
  }

  .pagination-description {
    display: inline-flex;
    align-items: center;
  }

  .pagination-lead {
    display: inline-flex;
    align-items: center;

    gap: 4px;
  }

  .pagination-description {
    font-size: 1rem;
    font-weight: 500;
  }
}

// Conditonal styles
.root {
  &:global(.pagination-no-prev) {
    justify-content: flex-end;
  }
}

// Media queries
@media (max-width: 640px) {
  .root :global {
    .pagination-description {
      display: none;
    }
  }
}
