//
// Document
// Base document and article styles.
//

.root :global {
  max-width: 600px;
  margin: 0 auto;

  p {
    font-size: 1rem;
    line-height: 1.5;

    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }

    > img {
      border-radius: var(--radii-1);
    }
  }

  h1 {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: -0.3px;

    &:first-child {
      margin-top: 3rem;
    }
  }

  h2,
  h3,
  h4 {
    margin-top: 3rem;
    margin-bottom: 1.25rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.3;
  }

  h3 {
    margin-top: 2.25rem;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
  }

  ul,
  ol {
    padding-left: 1rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
  }

  a {
    text-decoration: underline;
    transition: color 0.25s ease;

    &:hover {
      color: var(--colors-loContrast);
      text-decoration: none;
    }
  }

  hr {
    box-sizing: content-box;
    height: 1px;
    padding: 0;
    margin: 3.5rem 0;
    overflow: hidden;
    background: 0 0;
    background-color: var(--colors-border);
    border: 0;
    border-bottom: 1px solid var(--colors-canvas);

    & + h1,
    & + h2,
    & + h3 {
      margin-top: 0;
    }
  }

  code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: var(--colors-pill);
    border-radius: 6px;
  }

  .heading:first-child {
    margin-top: 0;
  }

  .pagination {
    margin-bottom: 1.25rem;
    font-size: 0.875rem;

    > a {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      transition: color 0.25s ease;

      gap: 4px;

      &:hover {
        color: var(--colors-loContrast);
      }
    }
  }
}

.nav :global {
  max-width: 600px;
  padding: 48px 0;
  margin: 0 auto;

  .nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    gap: 0.5rem;

    li {
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }

  a {
    position: relative;
    transition: color 0.25s ease;

    &:hover {
      color: var(--colors-loContrast);

      &::after {
        width: 100%;
      }
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1.15862px;
      min-height: 1px;
      content: '';
      background-color: var(--colors-loContrast);
      transition: width 0.25s var(--ease-1);
    }
  }
}
