.root :global {
  max-width: 600px;
  margin: 0 auto;

  p {
    font-size: 0.875rem;
  }

  p:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.nav :global {
  max-width: 600px;
  padding: 48px 0;
  margin: 0 auto;

  .nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    list-style: none;

    gap: 0.5rem;
  }

  a {
    position: relative;
    transition: opacity .25s ease;

    &:hover {
      opacity: 0.5;

      &::after {
        width: 100%;
      }
    }

    &::after {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0;
      height: 1.15862px;
      min-height: 1px;
      content: '';
      background-color: rgb(var(--fg-rgb));
      transition: width .25s var(--ease-1);
    }
  }
}
