.root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;

  -webkit-tap-highlight-color: transparent;
}

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.root:last-child .inner {
  padding-bottom: 4rem;
}

.root:not(:last-child)::after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-image: linear-gradient(to right, #CECECE 40%, rgba(255, 255, 255, 0) 0%);
  background-repeat: repeat-x;
  background-position: top;
  background-size: 10px 1px;
}

.inner {
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  padding: 3rem;
}

@media (min-width: 1025px) {
  .inner::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    content: "";
    background-image: linear-gradient(to bottom, #CECECE 40%, rgba(255, 255, 255, 0) 0%);
    background-repeat: repeat-y;
    background-position: left;
    background-size: 1px 10px;
  }
}

@media (min-width: 1025px) {
  .inner::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    content: "";
    background-image: linear-gradient(to bottom, #CECECE 40%, rgba(255, 255, 255, 0) 0%);
    background-repeat: repeat-y;
    background-position: right;
    background-size: 1px 10px;
  }
}

.root:global(.hero) .inner {
  display: flex;
  flex-direction: column;
  padding: 3rem;

  gap: 2rem;
}

@media (min-width: 1025px) {
  .root:global(.hero) .inner {
    padding: 5rem 3rem;
  }
}

.root:global(.hero) h1 {
  margin: 0;
  font-size: min(10vw, 80px);
  font-weight: 800;
  font-stretch: 78%;
  line-height: 1;
  color: var(--fg);
  letter-spacing: -0.01em;
}

@media (min-width: 1025px) {
  .root:global(.hero) h1 {

  }
}

.root:global(.hero) p {
  font-weight: 500;
  color: var(--fg);
  letter-spacing: -0.25px;

  font-variation-settings: "ital" 0, "wdth" 98;
}

.root:global(.hero) p {
  font-size: 23.3196px;
  line-height: 34px;
}


@media (min-width: 1025px) {

}

.root:global(.secondary) .inner {
  display: flex;
  flex-direction: column;
  padding: 3rem;

  gap: 3rem;
}

.root:global(.secondary) p {
  margin: 0;
  font-size: 27.4348px;
  line-height: 44px;
}

.root:global(.secondary) p::before {
  display: table;
  margin-bottom: -0.4379em;
  content: "";
}

.root:global(.secondary) p::after {
  display: table;
  margin-top: -0.4369em;
  content: "";
}

.root:global(.about .heading-3:not(:first-child)) {
  margin-top: 3rem;
}

.root:global(.about) p {
  font-size: 1rem;
}
