.root :global {
  p:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.root {
  &:global(.block-hero) {
    p {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: -0.36px;
    }
  }
}

.root {
  &:global(.block-callout) {
    padding: 1.25rem;
    margin: 3rem 0 3rem 0;
    background-color: var(--colors-panel);
    border: 1px solid var(--colors-border);
    border-radius: var(--radii-2);
    h3 {
      margin: 0 0 1.25rem 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.root {
  &:global(.block-lead) {
    p {
      margin-bottom: 1.25rem;
      font-size: 1.75rem;
      line-height: 1.3;
    }
  }
}
