.root {
  margin-top: 2rem;
}

.root :global(.gallery-container) {
  position: relative;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  grid-auto-rows: minmax(1fr, auto);
}

.root :global(.gallery-item-container) {
  position: relative;
  overflow: hidden;
}

.root :global(.gallery-item) {
  border: 1px solid var(--gray-a3);
  box-shadow: var(--shadow-el-md);
}

.root :global(.gallery-item-container:first-child) {
  grid-column: 1 / 6;
  grid-row: 1;
}

.root :global(.gallery-caption) {
  margin-bottom: 0;
  margin-top: 0.5rem;
  color: var(--gray-10);
}
