.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.root :global(.empty-message h1) {
  margin: 0;
  font-size: 5rem;
  font-weight: 900;
  font-stretch: 75%;
  letter-spacing: -0.065em;
}

.root a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  padding: 14px 20px;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: 98%;
  line-height: 1;
  color: var(--gray-1);
  background: linear-gradient(210deg, var(--gray-11) 13.4%, var(--gray-12) 86.6%);
  border-radius: 3px;
  border-radius: 3px;
  box-shadow: var(--shadow-el-md);
}

.root a:hover {
  color: var(--gray-1);
  background: var(--gray-11);
}