:root {
  --max-width: 1100px;
  --font-sans: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

  --colors-hiContrast: #1a1523;
  --colors-loContrast: #6f6e77;
  --colors-canvas: #fdfcfd;
  --colors-panel: hsla(300, 99.5%, 7.7%, 0.051);
  --colors-border: hsla(270, 90.5%, 6.1%, 0.071);

  --shadow-media: inset 0 0 0 1px hsla(300, 89.3%, 18.3%, 0.06);

  --radii-1: 4px;
  --radii-2: 6px;
  --radii-3: 8px;
  --radii-round: 50%;
  --radii-pill: 9999px;

  --ease-1: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --colors-hiContrast: #ededef;
    --colors-canvas: #161618;
    --colors-panel: hsla(240, 76.7%, 91.2%, 0.031);
    --colors-border: hsla(240, 86.0%, 95.8%, 0.061);
    --shadow-media: inset 0 0 0 1px hsla(240, 93.9%, 99.6%, 0.25);
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: stretch;
}

body {
  font-family: var(--font-sans);
  line-height: 1.5;
  color: var(--colors-hiContrast);
  background-color: var(--colors-canvas);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

#root, #__next {
  isolation: isolate;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
