/* pswp styles  */

.pswp .pswp__default-caption {
  left: 50% !important;
  width: calc(100% - 32px);
  max-width: 400px;
  padding: 0.5rem 0.75rem !important;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.45);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.pswp .pswp__default-caption a {
  color: #fff;
  text-decoration: underline;
  transition: color 0.25s ease;
}

.pswp .pswp__default-caption a:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
