//
// Social
// Styles for the social component.
//

.root {
  &:global {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }
}

.root :global {
  .social-wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    transition: color .25s var(--ease-1);

    gap: 8px;

    &:hover {
      color: var(--colors-loContrast);
    }

    .social-icon .icon.read-cv {
      transform: rotate(16deg);
    }
  }
}