.root {
  display: block;
  font-weight: 700;
  line-height: 1.3;
}

.root:global(.heading-1) {
  margin-bottom: 0;
  font-size: 2.75rem;
  font-stretch: 96%;
  letter-spacing: -0.01em;
}

.root:global(.heading-2) {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: 96%;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

@media (min-width: 1025px) {
  .root:global(.heading-2) {
    margin-bottom: 0;
    font-size: 2rem;
  }
}
