.root :global {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 600px;
  padding: 4rem 0 3rem 0;
  margin: 0 auto;

  @media (min-width: 640px) {
    padding: 8rem 0 3rem 0;
  }

  @media (min-width: 768px) {
    padding: 12rem 0 3rem 0;
  }
}

.home :global {
  .logo {
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: -0.42px;
  }
}

.page :global {
  .logo {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.245px;
  }
}

.nav :global {
  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    list-style: none;

    li {
      font-size: 0.875rem;
      line-height: 1.5;
    }

    a {
      transition: all ease-in-out 200ms;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
