//
// Header
// Styles for the Header component.
//

// Main styles
.root :global {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 600px;
  padding: 4rem 0 3rem 0;
  margin: 0 auto;

  @media (min-width: 640px) {
    padding: 8rem 0 3rem 0;
  }

  @media (min-width: 768px) {
    padding: 12rem 0 3rem 0;
  }
}

// Homepage logo styles
.home :global {
  .logo {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: -0.42px;

    @media (max-width: 640px) {
      font-size: 1.5rem;
    }
  }
}

// Logo styles
.page :global {
  .logo {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.245px;
    transition: opacity .25s var(--ease-1);

    &:hover {
      opacity: 0.5;

      &::after {
        width: 100%;
      }
    }
  }
}

// Nav styles
.nav :global {
  .nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;

    gap: 0.5rem;

    li {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5;
    }

    a {
      position: relative;
      transition: color .25s var(--ease-1);

      &:hover {
        color: var(--colors-loContrast);

        &::after {
          width: 100%;
        }
      }

      &::after {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0;
        height: 1.15862px;
        min-height: 1px;
        content: '';
        background-color: var(--colors-loContrast);
        transition: width .25s var(--ease-1);
      }
    }
  }
}
