.root {
  display: block;
  width: 100%;
}

.inner {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  padding: 2rem 2rem 0;
  margin: 0 auto;
}

@media (min-width: 1025px) {
  .inner {
    padding: 3.5rem 3rem 0;
  }
}

@media (min-width: 1025px) {
  .inner::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    content: "";
    background-image: linear-gradient(to bottom, #CECECE 40%, rgba(255, 255, 255, 0) 0%);
    background-repeat: repeat-y;
    background-position: left;
    background-size: 1px 10px;
  }
  .inner::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    content: "";
    background-image: linear-gradient(to bottom, #CECECE 40%, rgba(255, 255, 255, 0) 0%);
    background-repeat: repeat-y;
    background-position: right;
    background-size: 1px 10px;
  }
}

.logo:hover {
  color: var(--red-9);
}

.inner :global(.nav-desktop) {
  display: flex;
  align-items: center;
}

.inner :global(.nav-desktop) ul {
  display: flex;
  align-items: center;
  list-style: none;

  gap: 16px;
}

@media (max-width: 1025px) {
  .inner :global(.nav-desktop) {
    display: none;
  }
}

.inner :global(.nav-desktop) a {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.09px;
}

.inner :global(.nav-desktop) a:hover {
  color: var(--red-9);
}

.inner :global(.nav-mobile) ul {
  list-style: none;
}

.inner :global(.nav-mobile) ul li {
  padding: 0 2rem;
}

.inner :global(.nav-mobile) a {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.09px;
}

.inner :global(.nav-mobile) a:hover {
  color: var(--red-9);
}