.root {
  &:global {
  position: relative;
  margin-bottom: 2rem;
  border-radius: var(--radii-1);
  overflow: hidden;

    &::after {
      content: '';
      box-shadow: var(--shadow-media);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      left: 0;
    }
  }
}
