.root {
  display: block;
}

.content {
  position: absolute;
  top: 70px;
  right: 20px;
  left: 20px;
  z-index: 99;
  padding: 1rem 0 1rem 0;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid var(--gray-4);
  border-radius: 10px;
  box-shadow: var(--shadow-1);
  transform-origin: 100% 0;
}
.content:global(.ContentOpen) {
  animation: slideDown 250ms var(--ease-1);
}
.content:global(.ContentClosed) {
  animation: slideUp 250ms var(--ease-1);
}

.trigger {
  box-sizing: content-box;
  display: none;
  width: 20px;
  padding: var(--burger-padding);
  margin: 0;
  margin-right: calc(-1* var(--burger-padding));
  cursor: pointer;
  background: none;
  border: none;

  --burger-padding: 6px;
  grid-template-columns: 1fr;
  justify-items: end;
  gap: 5px;
}
.trigger>* {
  width: 100%;
  height: 2px;
  background-color: var(--fg);
  border-radius: 9999999px;
  opacity: 1;
  transition: 0.2s var(--ease-2);
  transform: translate3d(0, 0, 0);
  transform-origin: 100% 50%;
}
.trigger>*:nth-child(3) {
  width: 67%;
}
.trigger:global(.TriggerOpen)>*:nth-child(2) {
  width: 0;
  opacity: 0;
}
.trigger:global(.TriggerOpen)>*:nth-child(1) {
  transform: rotate(-45deg) translate3d(0, 0, 0);
}
.trigger:global(.TriggerOpen)>*:nth-child(3) {
  width: 100%;
  transform: rotate(45deg) translate3d(0, 0, 0);
}

@media (max-width: 1025px) {
  .trigger {
    display: grid;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(var(--radix-collapsible-content-height));
  }
}
@keyframes slideUp {
  from {
    opacity: 1;
    transform: scale(var(--radix-collapsible-content-height));
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
