.root {
  display: block;
  padding: 1.75rem 2rem;
  margin-top: 2.25rem;
  background: var(--gray-1);
  border: 1px solid var(--gray-5);
  border-radius: 0.5rem;
}

.root:not(:last-child) {
  margin-bottom: 2.25rem;
}

.root p {
  font-size: 1rem;
  line-height: 1.6;
}