//
// Description List Styles
// Styles for the DescriptionList component.
//

// Main styles
.root :global {
  margin: 0 0 0.5rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  list-style: none;
  font-size: 0.875rem;

  .term {
    grid-column: span 2;
    color: var(--colors-loContrast);

    @media (max-width: 768px) {
      grid-column: span 8;
    }
  }

  .detail {
    grid-column: span 6;

    @media (max-width: 768px) {
      grid-column: span 8;
    }
  }
}

// Adjustment styles
.root:last-of-type :global {
  margin-bottom: 3rem;
}
